@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center home-text">
    <h1 class="fs-1 fw-bold">Welcome</h1>
    <p class="fs-3 fw-semibold">Library Management</p>
    <img src="~/images/Library.jpg" alt="Library" class="img-fluid" onload="this.classList.add('loaded')" />
</div>
